header
	{
  		background-color: rgb(150, 185, 103);
  		width: 100%;
  		height: 200px;
  		position: fixed;
  		top: 0px;
  		border-bottom: solid 2px #605B56;
	}

header svg
	{
		height: 90%;
		float: right;
		padding: 0.25% 0.25% 0 0;
	}

header h1
	{
		padding-left: 10px;
	}

body
	{
		width: 100%;
		color: #605B56;
	}

footer 
	{
		clear: both;
		border-top: solid 2px #605B56;
		padding-top: 10px;
		margin-top: 15px;
		text-align: center;
		position: fixed;
		bottom: 0px;
		background-color: rgb(150, 185, 103);
		width: 100%;
	}

section
	{
		margin-top: 200px;
		clear: both;
  		width: 100%;
  		height: 800px;
  		background-color: rgb(133, 195, 226);
	}

section aside
	{
  		width: 20%;
  		background-color: rgb(24, 128, 180);
  		height: 800px;
  		float: left;
	}

section article
	{
  		width: 80%;
  		background-color: rgb(150, 185, 203);
  		height: 800px;
  		float: right;
	}

video
	{
		width: 15%;
		margin-left: 15px;
	}

audio
	{
		width: 50%;
		margin-left: 15px;
	}
/*
#menu-principal ul 
	{
		float: left;
		width: 200px;
		padding: 0;
		margin: 0;
	}

#menu-principal ul li 
	{
		padding: 10px;
		list-style-type: none;
	}

#contenido 
	{
		margin-left: 200px;
		padding: 10px;
		background-color: F9F7F3;
	}

#contenido p img 
	{
		float: right;
	}

ul
	{
  		list-style-type: none;
  		margin: 0;
  		overflow: hidden;
  		height: 100%;
	}

li
	{
  		float: right;
  		display: block;
  		margin: 0px 5px;
  		padding: 15px 0px;
  		height: 100%;
  		background-color: rgb(213, 156, 64);
	}
*/